@charset "UTF-8";
 body{
    background-image: url("koruku2.jpg");
 }

h1{
    background-color: #0dfdd586;
    color: #0b07f3bd;
    text-align: center;
    font-size: 100px;
    letter-spacing: 15px;
}

p{
    width: 25.4em;
    margin-left: auto;
    margin-right: auto; 
}

.model {
    color: #fff; 
    background-color: #3a3a3a;
    border: 2px solid #000; 
    text-decoration: none;
    font-size: 50px;
    
}
p:hover + .model-hukidashi{
   display: block;
}

.model-hukidashi{
    display: none;
    text-align: center;
}

.gallery {
    color: #fff; 
    background-color: #3a3a3a;
    border: 2px solid #000; 
    text-decoration: none; 
    font-size: 50px;
}
p:hover + .gallery-hukidashi{
   display: block;
}

.gallery-hukidashi{
    display: none;
    text-align: center;
}

