@charset "UTF-8";
 body{
    background-image: url("koruku2.jpg");
 }

h1{
    background-color: #0dfdd586;
    color: #0b07f3bd;
    text-align: center;
    font-size: 100px;
    letter-spacing: 15px;
}

p{
    width: 25.4em;
    margin-left: auto;
    margin-right: auto; 
}

.model {
    background: -webkit-repeating-linear-gradient(-45deg, #fff5df, #fff5df 4px,#b1f6ff 3px, #b1f6ff 8px);
    background: repeating-linear-gradient(-45deg, #fff5df, #fff5df 4px,#b1f6ff 3px, #b1f6ff 8px);
    border-radius: 7px;
    text-decoration: none;
    color: blue;
    font-size: 50px;
    
}
p:hover + .model-hukidashi{
   display: block;
}

.model-hukidashi{
    display: none;
    position: relative;
    width: 230px;
      top: 0;
      left: 40%;
      padding: 16px;
      border-radius: 5px;
      background: #ff4242be;
      color: rgb(255, 255, 255);
      font-weight: bold;
}


.gallery {
    background: -webkit-repeating-linear-gradient(-45deg, #fff5df, #fff5df 4px,#ceffb1 3px, #ceffb1 8px);
    background: repeating-linear-gradient(-45deg, #fff5df, #fff5df 4px,#ceffb1 3px, #ceffb1 8px);
    border-radius: 7px;
    text-decoration: none; 
    color: red;
    font-size: 50px;
}
p:hover + .gallery-hukidashi{
   display: block;
}

.gallery-hukidashi{
    display: none;
    display: none;
    position: relative;
    width: 250px;
      top: 0;
      left: 40%;
      padding: 16px;
      border-radius: 5px;
      background:#ff4242be;
      color: #fff;
      font-weight: bold;
}

